:root{
  --primary-color: #4f033d;
  --primary-color-light: rgba(112, 39, 95, 0.4);
  --secondary-color: #08010e;
  --background-color: #f4f4f4;
  --background-color-dark: #dddddd;
}

body {
  margin: 0;
  background-color:var(--background-color-dark);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.add-container{
  position: relative;
  left: 23%;
  top: 90px;
  width: 74%;
  background-color: var(--background-color);
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 5px var(--primary-color-light);
}
